{% extends 'clarion/base.html' %}
{% load clarion_tags %}

{% block title %}
    Главная
{% endblock %}

{% block content %}


    <a href="{% url 'clarion:parse_category' %}">Спарсить категории</a>
{% endblock %}

    {% for category in categories %}
        <p><a href="http://127.0.0.1:8000{{ category.get_absolute_url }}">{{ category }}</a></p>
        {% for category in category.children.all %}
            <p><a href="http://127.0.0.1:8000{{ category.get_absolute_url }}">-----{{ category }}</a></p>
            {% for category in category.children.all %}
                <p><a href="http://127.0.0.1:8000{{ category.get_absolute_url }}">----------{{ category }}</a></p>

            {% endfor %}
        {% endfor %}
        <hr>
    {% endfor %}