{% extends 'clarion/base.html' %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
<form action="" method="post" class="custom_form">
          <span class="form_title">Registration</span>
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" required class="form-control" name="username">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last name</label>
            <input type="text" class="form-control" name="last_name">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First name</label>
            <input type="text" class="form-control" name="first_name">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" required class="form-control" name="email">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Password</label>
            <input type="password" required class="form-control" name="password1">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Retry password</label>
            <input type="password" required class="form-control" name="password2">
          </div>
        <button type="submit" class="btn btn-large pink">Register</button>
    </form>
{% endblock %}