<nav aria-label="Page navigation" class="pagination_section" style="text-align: center">
                        <ul class="pagination">
                            {% if page.has_previous %}
                                <li><a href="?page=1" type="button" class="btn btn-outline-secondary"><<</a></li>
                                <li><a href="?page={{ page.previous_page_number }}" type="button" class="btn btn-outline-secondary">{{ page.previous_page_number }}</a></li>
                            {% endif %}

                            <li><a href="#">{{ page.number }}</a></li>

                            {% if page.has_next %}
                                <li><a href="?page={{ page.next_page_number }}" type="button" class="btn btn-outline-secondary">{{ page.next_page_number }}</a></li>
                                <li><a href="?page={{ page.paginator.num_pages }}" type="button" class="btn btn-outline-secondary">>></a></li>
                            {% endif %}
                        </ul>
                    </nav>