{% extends 'clarion/base.html' %}

{% load static clarion_tags %}

{% block title %}
    {{ page.name }}
{% endblock %}

{% block content %}
        <section class="breadcrumb_section">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="{% url 'clarion:index' %}">Index</a></li>
                    {% if page.category %}
                        {{ page.category|category_breadcrumbs|safe }}
                    {% else %}
                        {{ page.isCategory.first|category_breadcrumbs|safe }}
                    {% endif %}
                    <li><a href="">{{ page.name }}</a></li>
                </ol>
            </div>
        </div>
    </section>
    <section id="entity_section" class="entity_section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if request.user.is_superuser %}
                        <div class="control_page">
                            {% if page.url %}
                                <a href="{% url 'clarion:page_update' page.pk %}" class="btn btn-lg green">update</a>
                            {% endif %}
                            <a href="{% url 'clarion:page_edit' page.pk %}" class="btn btn-lg orange">edit</a>
                            <a href="{% url 'clarion:page_delete' page.pk %}" class="btn btn-lg red">delete</a>
                        </div>
                    {% endif %}
                    <div class="entity_wrapper">
                        <div class="entity_title">
                            <h1>
                                <a href="{{ page.get_absolute_url }}">{{ page.name }}</a>

                            </h1>
                        </div>
                        <!-- entity_title -->

                        <div class="entity_meta">
                            <a href="#" target="_self">created: {{ page.date_create }}</a>
                            <br>
                            <a href="#" target="_self">{% if page.date_update %}updated: {{ page.date_update }}{% endif %}</a>
                        </div>
                        <!-- entity_meta -->
                        {{ page.get_rating|show_rating }}

                        {{ page.get_rating }}({{ page.reviews.count }})
                        <!-- entity_rating -->

                        <div class="entity_social">
                            <a href="#" class="icons-sm sh-ic">
                                <i class="fa fa-share-alt"></i>
                            </a>
                            <a href="#" class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a href="#" class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a href="#" class="icons-sm inst-ic"><i class="fa fa-google-plus"> </i></a>
                            <!--Linkedin-->
                            <a href="#" class="icons-sm tmb-ic"><i class="fa fa-ge"> </i></a>
                            <!--Pinterest-->
                            <a href="#" class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                        </div>
                        <!-- entity_social -->

                        <div class="entity_thumb">
                            {% if page.img %}
                                <img class="img-responsive" src="{{ page.img.url }}" alt="feature-top" width="100%">
                            {% else %}
                                <img class="img-responsive" src="{% static 'img/no_img.png' %}" alt="feature-top" width="100%">
                            {% endif %}
                        </div>
                        <!-- entity_thumb -->
                        <div class="entity_content">
                            <h3><a href="">{{ page.name }}</a></h3>
                            <div >{{ page.content|replaceIMG|safe }}</div>
                        </div>
                        {% if page.url %}<p class="gray"><a href="{{ page.url }}">Source: {{ page.url }}</a></p>{% endif %}
                        <!-- entity_content -->

                        <div class="entity_footer">
                            <div class="entity_tag">
                                {% if page.category %}
                                    <span class="blank"><a href="{{ page.category.get_absolute_url }}">{{ page.category.name }}</a></span>
                                {% else %}
                                    <span class="blank"><a href="{{ page.isCategory.first.get_absolute_url }}">{{ page.isCategory.first.name }}</a></span>
                                {% endif %}
                            </div>
                            <!-- entity_tag -->

                            <div class="entity_social">
                                <span><i class="fa fa-comments-o"></i>{{ page.reviews.count }} <a href="#">Comments</a> </span>
                            </div>
                            <!-- entity_social -->

                        </div>
                        <!-- entity_footer -->

                    </div>
                    <!-- entity_wrapper -->

                    <div class="related_news">
                        <div class="entity_inner__title header_purple">
                            <h2><a href="#">Last News</a></h2>
                        </div>
                        <!-- entity_title -->

                        <div class="row">
                            <div class="col-md-6">
                                {% for page in related_pages|slice:"0:2" %}
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ page.get_absolute_url }}"><img class="media-object" width="100px" height="100px" src="
                                                    {% if page.img %}{{ page.img.url }}{% else %}{% static 'img/no_img.png' %}{% endif %}"
                                                             alt="Generic placeholder image"></a>
                                        </div>
                                        <div class="media-body">
                        <span class="tag purple"><a href="
                                {% if page.category %}{{ page.category.get_absolute_url }}{% else %}{{ page.isCategory.get_absolute_url }}{% endif %}"
                                                    target="_self">
                            {% if page.category %}
                                {{ page.category.name }}
                            {% else %}
                                Категория
                            {% endif %}</a></span>

                                            <h3 class="media-heading"><a href="{{ page.get_absolute_url }}"
                                                                         target="_self">{{ page.name }}</a></h3>
                                            <span class="media-date"><a href="#">{{ page.date_create }}</a></span>

                                            <div class="media_social">
                                                <span><a href="#"><i
                                                        class="fa fa-comments-o"></i>{{ page.reviews.count }}</a> Comments</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                {% for page in related_pages|slice:"2:" %}
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ page.get_absolute_url }}"><img class="media-object" width="100px" height="100px" src="
                                                    {% if page.img %}{{ page.img.url }}{% else %}{% static 'img/no_img.png' %}{% endif %}"
                                                             alt="Generic placeholder image"></a>
                                        </div>
                                        <div class="media-body">
                        <span class="tag purple"><a href="
                                {% if page.category %}{{ page.category.get_absolute_url }}{% else %}{{ page.isCategory.get_absolute_url }}{% endif %}"
                                                    target="_self">
                            {% if page.category %}
                                {{ page.category.name }}
                            {% else %}
                                Категория
                            {% endif %}</a></span>

                                            <h3 class="media-heading"><a href="{{ page.get_absolute_url }}"
                                                                         target="_self">{{ page.name }}</a></h3>
                                            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

                                            <div class="media_social">
                                                <span><a href="#"><i
                                                        class="fa fa-comments-o"></i>{{ page.reviews.count }}</a> Comments</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Related news -->


                    <!--Advertisement-->

                    <div class="readers_comment">
                        <div class="entity_inner__title header_purple">
                            <h2>Readers Comment</h2>
                        </div>
                        <!-- entity_title -->
                        {% for review in page.reviews.all %}
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img alt="64x64" class="media-object" width="50px" height="50px"
                                             data-src="{% static 'img/default-user.png' %}"
                                             src="{% static 'img/default-user.png' %}" data-holder-rendered="true">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h2 class="media-heading"><a
                                            href="#">{{ review.user.first_name }} {{ review.user.last_name }}</a></h2>
                                    <div class="entity_rating"
                                         style="margin-top: 0px">{{ review.stars|show_rating|safe }}</div>
                                    {{ review.text }}
                                    <div class="entity_vote">
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                                        <a href="#"><span class="reply_ic">Reply </span></a>
                                    </div>
                                    {#                <div class="media">#}
                                    {#                    <div class="media-left">#}
                                    {#                        <a href="#">#}
                                    {#                            <img alt="64x64" class="media-object" data-src="assets/img/reader_img2.jpg" src="assets/img/reader_img2.jpg" data-holder-rendered="true">#}
                                    {#                        </a>#}
                                    {#                    </div>#}
                                    {#                    <div class="media-body">#}
                                    {#                        <h2 class="media-heading"><a href="#">Admin</a></h2>#}
                                    {#                        But who has any right to find fault with a man who chooses to enjoy a pleasure#}
                                    {#                        that has no annoying consequences, or one who avoids a pain that produces no#}
                                    {#                        resultant pleasure?#}
                                    {##}
                                    {#                        <div class="entity_vote">#}
                                    {#                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>#}
                                    {#                            <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>#}
                                    {#                            <a href="#"><span class="reply_ic">Reply </span></a>#}
                                    {#                        </div>#}
                                    {#                    </div>#}
                                    {#                </div>#}
                                </div>

                            </div>

                        {% empty %}

                            <p>Комментариев нет</p>
                        {% endfor %}
                        <!-- media end -->
                        <!-- media end -->
                    </div>
                    <!--Readers Comment-->


                    <!--Advertisement-->

                    <div class="entity_comments">
                        <div class="entity_inner__title header_black">
                            <h2>Add a Comment</h2>
                        </div>
                        <!--Entity Title -->

                        {% if request.user.is_authenticated %}
                            {% if request.user|isWriteReview:page %}
                                <h3>Вы не можете оставить более одного отзыва</h3>
                            {% else %}
                                <div class="entity_comment_from">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div class="form-group comment">
                                            <label for="">Stars</label>
                                            <div class="rating-area">
                                                <input type="radio" id="star-5" name="stars" value="5">
                                                <label for="star-5" title="Оценка «5»"></label>
                                                <input type="radio" id="star-4" name="stars" value="4">
                                                <label for="star-4" title="Оценка «4»"></label>
                                                <input type="radio" id="star-3" name="stars" value="3">
                                                <label for="star-3" title="Оценка «3»"></label>
                                                <input type="radio" id="star-2" name="stars" value="2">
                                                <label for="star-2" title="Оценка «2»"></label>
                                                <input type="radio" id="star-1" checked name="stars" value="1">
                                                <label for="star-1" title="Оценка «1»"></label>
                                            </div>
                                            <label for="">Comment</label>
                                            <textarea class="form-control" id="inputComment" name="text"
                                                      placeholder="Comment"></textarea><br>
                                        </div>
                                        <button type="submit" class="btn btn-submit red">Submit</button>
                                    </form>
                                </div>
                            {% endif %}

                        {% else %}
                            <p>Только авторизованные пользователи могут оставлять комментарии</p>
                        {% endif %}
                        <!--Entity Comments From -->

                    </div>
                    <!--Entity Comments -->

                </div>
                <!--Left Section-->
                {% include 'clarion/include/right_block.html' %}
                <!--Right Section-->

            </div>
            <!-- row -->

        </div>
        <!-- container -->

    </section>
{% endblock %}