{% extends 'clarion/base.html' %}
{% load static clarion_tags %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block content %}
    <section class="breadcrumb_section">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="{% url 'clarion:index' %}">Index</a></li>
                    {{ category|category_breadcrumbs|safe }}
                </ol>
            </div>
        </div>
    </section>

    <section id="entity_section" class="entity_section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if request.user.is_superuser %}
                        <div class="control_page">
                        <a href="" class="btn btn-lg green">+ subcategory</a>
                        <a href="{% url 'clarion:page_create' category.pk %}" class="btn btn-lg green">+ news</a>
                        <a href="" class="btn btn-lg orange">edit</a>
                    </div>
                    {% endif %}
                    {% if category.children.all %}
                        <h2>Subcategories</h2>
                        <ul>
                            {% for subcategory in category.children.all %}
                                <li><a class="btn btn-sm btn-link" href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <hr>
                    {% endif %}
                    {% if category.base_page %}
                        <div class="entity_wrapper">
                            <div class="entity_title header_purple">
                                <h1><a href="{{ category.base_page.get_absolute_url }}">{{ category.base_page.name }}</a></h1>
                            </div>
                            <!-- entity_title -->

                            <div class="entity_thumb">
                                <img class="img-responsive" width="100%" src="
                                        {% if category.base_page.img %}{{ category.base_page.img.url }}{% else %}{% static 'img/no_img.png' %}{% endif %}"
                                     alt="feature-top">
                            </div>
                            <!-- entity_thumb -->

                            <div class="entity_title">
                                <a href="{{ category.base_page.get_absolute_url }}">
                                    <h3>{{ category.base_page.name }}</h3></a>
                            </div>
                            <!-- entity_title -->

                            <div class="entity_meta">
                                <a href="#">{{ category.base_page.date_create }}</a>
                            </div>
                            <!-- entity_meta -->

                            <div class="entity_content">
                                {{ category.base_page.content|safe|striptags|truncatechars:50 }}
                            </div>
                            <!-- entity_content -->

                            <div class="entity_social">
                                <span><i class="fa fa-comments-o"></i>{{ category.base_page.reviews.count }} <a
                                        href="#">Comments</a> </span>
                            </div>
                            <!-- entity_social -->
                        </div>
                    {% endif %}
                    <!-- entity_wrapper -->


                    {% for page in pages %}
                        {% if not forloop.counter|divisibleby:2 %}
                        <div class="row">
                            {% include 'clarion/include/page_card.html' %}
                            {% if forloop.last %}
                                </div>
                                {% endif %}
                            <!-- col-md-6 -->
                            {% else %}
                            {% include 'clarion/include/page_card.html' %}
                            <!-- col-md-6 -->
                        </div>
                        {% endif %}
                    {% empty %}
                        <p style="text-align: center">News not found</p>
                    {% endfor %}
                    <!-- row -->


                    <!-- row -->
                    {% include 'clarion/include/pagination.html' with page=pages %}
                    <!-- navigation -->

                </div>
                {% include 'clarion/include/right_block.html' %}
            </div>
        </div>
    </section>

{% endblock %}